In [2]:
from sklearn import svm

from sklearn.model_selection import cross_val_score
import pandas as pd

In [3]:
train = pd.read_csv('/Users/nate/Desktop/train.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
feature_cols = ['Sex', 'Age', 'Pclass', 'Fare']
feature_subset = ['Survived', 'Sex', 'Age', 'Pclass', 'Fare']

mapping = {k: v for v, k in enumerate(train.Sex.unique())}

train['Sex'] = train.Sex.map(mapping)

X = train[feature_cols].dropna()
y = train[feature_subset].dropna().Survived

print(X)
print(y)

     Sex   Age  Pclass     Fare
0      0  22.0       3   7.2500
1      1  38.0       1  71.2833
2      1  26.0       3   7.9250
3      1  35.0       1  53.1000
4      0  35.0       3   8.0500
..   ...   ...     ...      ...
885    1  39.0       3  29.1250
886    0  27.0       2  13.0000
887    1  19.0       1  30.0000
889    0  26.0       1  30.0000
890    0  32.0       3   7.7500

[714 rows x 4 columns]
0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [6]:
clf_linear = svm.SVC(kernel='linear')
clf_quadratic = svm.SVC(kernel='poly')
clf_RBF = svm.SVC() # Default is rbf kernel

In [7]:
clf_linear.fit(X, y)
clf_quadratic.fit(X, y)
clf_RBF.fit(X, y)

SVC()

In [8]:
avg_linear = cross_val_score(clf_linear, X, y, cv=5)
avg_quadratic = cross_val_score(clf_quadratic, X, y, cv=5)
avg_RBF = cross_val_score(clf_RBF, X, y, cv=5)

print(avg_linear.mean())
print(avg_quadratic.mean())
print(avg_RBF.mean())

0.7801339505564858
0.6400965231951148
0.6653008962868118